* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5;
}

.contenedor {
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  background-color: #367E6E;
  width: 100%;
  margin: 0px;
}

.pie-pagina {
  width: auto;
  clear: both;
  float: left;
  margin-top: 20px;
  box-sizing: border-box;
  padding: 20px;
  background-color: #367E6E;
  color: white;
  height: auto;
  bottom: 0;
}

.grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}
.grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grupo-1 img {
  width: 250px;
}
.grupo-1 h2 {
  color: #FFFFFF;
  margin-bottom: 25px;
  font-size: 20px;
}
.grupo-1 p {
  color: #FFFFFF;
  margin-bottom: 10px;
}
.grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
  transition: all 300ms ease;
}
.grupo-1 .red-social a:hover {
  color: aqua;
}

.grupo2 {
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}
.grupo2 small {
  font-size: 15px;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.logo_wsp {
  height: 100%;
  width: 100%;
}

.logo-wsp {
  height: 80px;
  width: 80px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

body {
  background-image: url(../images/huellita_transparente.png);
  content: "";
  opacity: 0, 3;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  background-color: lightgrey;
  margin-top: 20px;
}

/* background-image: url(../images/huellita_transparente.png); */
#page-content {
  flex: 1 0 auto;
}

/* Modify the background color */
.navbar-custom {
  background-color: #367E6E;
}

.tienda-titulo {
  width: 100%;
  height: auto;
  background-color: white;
  margin-top: 5px;
  margin-right: 80%;
  margin-left: 55%;
  padding: 5px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

.body-tienda {
  width: 100%;
  height: auto;
  margin-top: 5px;
  padding: 5px;
}

.tienda-productos {
  margin-top: 20px;
  gap: 20px;
}

.card-title {
  background-color: white;
}

.card-text {
  background-color: white;
}

.img-turnos {
  width: 50%;
  height: auto;
  margin: 20px;
}

.main-turnos {
  width: 100%;
  height: auto;
  text-align: center;
  padding: 5px;
  background-color: #0d2033;
  color: white;
  float: center;
}

.aside.turnos {
  width: 50%;
  padding: 20px;
  float: center;
  box-sizing: border-box;
  margin-top: 20px;
  margin-left: 25%;
  margin-right: 60%;
  margin-bottom: 10px;
}
.aside.turnos form {
  margin: 0 auto;
  max-width: 600px;
}
.aside.turnos input[type=text],
.aside.turnos input[type=number],
.aside.turnos select,
.aside.turnos textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}
.aside.turnos select {
  height: 40px;
}
.aside.turnos textarea {
  height: 120px;
}
.aside.turnos input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}
.aside.turnos input[type=submit]:hover {
  background-color: #3e8e41;
}
.aside.turnos form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}
.aside.turnos label {
  display: block;
  margin-bottom: 10px;
  background-color: #1B1B1E;
  color: white;
  margin-top: 5px;
  margin-bottom: auto;
}
.aside.turnos input[type=text],
.aside.turnos input[type=number],
.aside.turnos select,
.aside.turnos textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  margin-top: 5px;
}

.main-cursos {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}
.main-cursos h1 {
  width: 50%;
  height: auto;
  background-color: #367E6E;
  margin-top: 5px;
  margin-left: 25%;
  margin-right: 25%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-cursos .img-cursos {
  width: 40%;
  height: auto;
  margin-top: 10px;
  margin-bottom: 0%;
  margin-left: 30%;
  margin-right: 20%;
}
.main-cursos h2 {
  width: 40%;
  height: auto;
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 30%;
  margin-right: 20%;
  padding: 5px;
  background-color: darkslategray;
  color: white;
}
.main-cursos h3 {
  width: 40%;
  height: auto;
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 30%;
  margin-right: 20%;
  padding: 5px;
  background-color: darkslategray;
  color: white;
}
.main-cursos h4 {
  width: 40%;
  height: auto;
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 30%;
  margin-right: 20%;
  padding: 5px;
  background-color: darkslategray;
  color: white;
}
.main-cursos p {
  width: 40%;
  height: auto;
  margin-top: 0%;
  margin-left: 30%;
  margin-right: 20%;
  padding: 5px;
  background-color: darkslategray;
  color: white;
}
.main-cursos button {
  background-color: #4CAF50;
  color: white;
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 40%;
  margin-right: 20%;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.main-cursos button:hover {
  background-color: #3e8e41;
}

.carrusel {
  width: 60%;
  margin: 20%;
}

section h2 {
  width: 50%;
  height: auto;
  background-color: #367E6E;
  margin-top: 5px;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 0%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
section p {
  width: 50%;
  height: auto;
  background-color: #367E6E;
  margin-left: 25%;
  margin-right: 25%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formulario-de-contacto {
  background-color: #367E6E;
  width: 50%;
  height: auto;
  margin-top: 10px;
  margin-left: 25%;
  margin-right: 25%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 20px;
  border: solid;
}
.formulario-de-contacto .botom {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}
.formulario-de-contacto .botom:hover {
  background-color: #3e8e41;
}

body {
  background-image: url(../images/huellita_transparente.png);
  content: "";
  opacity: 0, 3;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

/*# sourceMappingURL=estilo.css.map */
