//body{background-color: url(../images/huellita\ transparente.png);
@use'./partials/reset'; 
@use'./partials/header';
@use'./partials/index';
@use'./partials/tienda';
@use'./partials/turnos';
@use'./partials/cursos';
@use'./partials/sobrenosotros';
@use'./partials/footer';
body{
    background-image: url(../images/huellita_transparente.png);
    content: "";
    opacity: 0,3;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
}
    
