@use'./reset';
@use'./header';
@use'./footer';


$colorbase1: #367E6E;
$color: white;
$margin5: 5px;

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.logo_wsp{
    height: 100%;
    width: 100%;
}
.logo-wsp{
        height: 80px;
        width: 80px;
        position: fixed;
        bottom:20px;
        right: 20px;
    }

body{
        background-image: url(../images/huellita_transparente.png);
        content: "";
        opacity: 0,3;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: -1;
        height: 100%;
        margin: 0;
        padding: 0;
    }
    .container{
        background-color:lightgrey;
        margin-top: 20px;
    }
    
  
 

  
    /* background-image: url(../images/huellita_transparente.png); */
  
#page-content {
    flex: 1 0 auto;
}

/* Modify the background color */
.navbar-custom {
    background-color:$colorbase1;
}



  
  
  
  

   
 
 

 
 
 
 

 
 
 
 
  