 .section-sobreNosotros{
    width: 30rem;
    height: auto;
    margin: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  
    .texto-sobreNosotros{
        background-color: #367E6E;
        text-align: center;
        margin: 10%;
        padding: 10px;
    }
    img {
        width: 320px;
        }
    }
 
 .formulario-de-contacto{
    align-content: center;
    align-items: center;
    justify-content: center;
    background-color: #367E6E;
    color: #fff;
 }
  
