@use'./reset';
@use'./header';
@use'./footer';


.container{

    .card-deck{
        display: grid;
        gap: 15px;
        margin-top: 10px;
        bottom: 10px;
    }

    .card{
        display: grid;
        gap: 15px;
        margin-top: 10px;
        bottom: 10px;
    }
}