@use'./reset';
@use'./header';
@use'./footer';

$colorbase1: #367E6E;
$color: white;
$margin5: 5px;

.tienda-titulo{
    width: 50%;
    height: auto;
    background-color:$color;
    margin-top:$margin5;
    padding:5px;
    float: center;
    margin-left: 70%;
    margin-right: 55%;
    margin-bottom: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    }
  
  
.body-tienda{
    width: 100%;
    height: auto;
    margin-top:$margin5;
    padding:5px;
  }

.tienda-productos{
  margin-top: 20px;
  gap: 20px;

}
.card-title{
  background-color: $color;
}
.card-text{
  background-color: $color;
}