@use'./reset';
@use'./header';
@use'./footer';

$colorbase1: #367E6E;
$color: white;
$margin5: 5px;

.img-turnos{
   width: 50%;
   height: auto;
   margin: 20px;

}
.titulo-turnos{
    text-align: center;
    padding: 5px;
    background-color: #0d2033;
    color: $color;
}
 
aside{
    width: 50%;
    padding: 20px;
    float:initial;
    box-sizing: border-box;
    margin-top: 20px;
    margin-left: 25%;
    margin-right: 60%;
    margin-bottom: 10px;
       form {
            margin: 0 auto;
            max-width: 600px;
        } 
        input[type="text"],
        input[type="number"],
        select,
        textarea {
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            width: 100%;
            box-sizing: border-box;
        }
        select {
            height: 40px;
        }
        textarea {
            height: 120px;
        }
        input[type="submit"] {
            background-color: #4CAF50;
            color:$color;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 20px;
        
            &:hover {
                background-color: #3e8e41;
            } 
    }
    
    form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}
label {
    display: block;
    margin-bottom: 10px;
    background-color:#1B1B1E ;
    color:$color;
    margin-top: 5px;
    margin-bottom: auto;
    }
    input[type="text"],
    input[type="number"],
    select,
    textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        margin-top: 5px;
    }
}